<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>semiproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- Servlet 게시판
	<servlet>
		<servlet-name>cartServlet</servlet-name>
		<servlet-class>com.cart.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartServlet</servlet-name>
		<url-pattern>/ywsemi/*</url-pattern>
	</servlet-mapping>
   -->
  <!-- 게시판 -->
  <servlet>
    <servlet-name>writingServlet</servlet-name>
    <servlet-class>com.Writing.WritingServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writingServlet</servlet-name>
    <url-pattern>/bbs/*</url-pattern>
  </servlet-mapping>
  
  <!-- 리뷰 -->
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.review.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/review/*</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>com.shop.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/shopping/*</url-pattern>
  </servlet-mapping>

  
   <servlet>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>com.member.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>PdetailServlet</servlet-name>
		<servlet-class>com.pdetail.PdetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdetailServlet</servlet-name>
		<url-pattern>/pdetail/*</url-pattern>
	</servlet-mapping>


  <servlet>
		<servlet-name>wishlistServlet</servlet-name>
		<servlet-class>com.wishlist.wishlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wishlistServlet</servlet-name>
		<url-pattern>/wishlist/*</url-pattern>
	</servlet-mapping>

	
</web-app>